<body style="background-color: rgb(255, 255, 255);">
<div class="contact1">
  <h1>Contact Us</h1>
  
</div>

<div class="contact">


  <div class="visit-us">
    <h2>When You Visit Us</h2>
    <p>When visiting The Beauty Parlour, we recommend parking on 100 Street, south of Whyte Avenue. There are many free parking options available for you there: angle parking, residential parking, and beside the Church are all free with no time restraints. You also have the convenient option of paid parking directly on Whyte avenue via EPark. Parking is free after 6pm.</p>

    <h3>Our Address</h3>
    <p>2nd Floor, 10011<br>
    82 Ave, Edmonton, AB T6E 1Z2<br>
    (780) 429 4242</p>

    <h3>Hours</h3>
    <p>Monday: 9am-3pm<br>
    Tuesday: 9am-7pm<br>
    Wednesday: 10am-8pm<br>
    Thursday: 11am-9pm<br>
    Friday: 9am-7pm<br>
    Saturday: 10am-4pm<br>
    Sunday: Closed</p>
  </div>

  

  <div class="newsletter">
    <h2>Join Our Newsletter</h2>
    <p>Join up and get notified about new products, updates, and special offers. You can unsubscribe at any time.</p>
    <div>
      <button class="but">JOIN</button>
    </div>
  </div>
</div>
</body>
