<div class="products-container">
  <h1>Our Products</h1>
  <button class="appointment-button" routerLink="/appointment">Request an Appointment</button>
  
  <div class="cards">
    <!-- Card for Safe and Stylish -->
    <div class="card">
      <img src="../../assets/images/img13.jpeg" alt="Safe and Stylish">
      <div class="card-body">
        <h2>Safe and Stylish</h2>
        <p>The hair care products we carry have been carefully chosen based on performance as well as their eco-sensitivity. From cost-effective, recyclable packaging to naturally harvested ingredients, we are proud to provide our guests with the most health-conscious choices in professional hair care products.</p>
      </div>
    </div>

    <!-- Card for KEVIN MURPHY -->
    <div class="card">
      <img src="../../assets/images/img14.jpeg" alt="KEVIN MURPHY">
      <div class="card-body">
        <h2>KEVIN MURPHY</h2>
        <p>KEVIN.MURPHY is a fashion-focused range of salon-only, professional hair care products that was conceived in the world of session styling. All KEVIN.MURPHY products contain high levels of natural ingredients and we use high-grade essential oils and amino acids for the ultimate hair and scalp treatment. We consider the environment in all our business decisions and try as much as possible to find cleaner, more sustainable methods of doing business.</p>
        <a href="https://www.kevinmurphy.com.au" target="_blank" class="product-link">Website</a>
      </div>
    </div>

    <!-- Card for COLOR.ME BY KEVIN.MURPHY -->
    <div class="card">
      <img src="../../assets/images/img15.jpeg" alt="COLOR.ME BY KEVIN.MURPHY">
      <div class="card-body">
        <h2>COLOR.ME BY KEVIN.MURPHY</h2>
        <p>COLOR.ME by KEVIN.MURPHY is a new way of colouring hair. Infused with different plant-based ingredients and honey, the luster and longevity of this hair color are outstanding. It is ammonia-free and has a barely-there scent for your comfort. COLOR.ME provides a wide range of shades and includes grey coverage.</p>
        <a href="https://www.kevinmurphy.com.au/colour-me/" target="_blank" class="product-link">Website</a>
      </div>
    </div>
  </div>
</div>
