<div class="services-container">
  <h1>Our Services</h1>
  <button class="appointment-button" routerLink="/appointment">Request an Appointment</button>
  
  <div class="cards">
    <!-- Card for What We Do -->
    <div class="card">
      <img src="../../assets/images/img9.jpg" alt="What We Do">
      <div class="card-body">
        <h2>What We Do...</h2>
        <p>The Beauty Parlour prides itself in offering a full range of gender-neutral salon treatments and styling services provided by a team of professional stylists in an inclusive and eco-conscious environment. <br><br><br>
           As a clean-air salon, we offer ammonia-free colour services with little to no scent properties or chemical emanation. <br><br><br>
           This healthier alternative to traditional colouring practices is also safe for people who are pregnant and individuals with allergies or scent sensitivities.</p>
      </div>
    </div>

    <!-- Card for Cut and Style Services -->
    <div class="card">
      <img src="../../assets/images/img10.jpg" alt="Cut and Style Services">
      <div class="card-body">
        <h2>Cut and Style Services</h2>
        <ul>
          <li><strong>Includes:</strong> wash, cut, finishing service</li><br><br>

          <li><strong>Cut & Style 1:</strong> Clipper, taper + fade with minimal styling - <em>$50-$70+</em></li><br><br>

          <li><strong>Cut & Style 2:</strong> Short to long hair with styling - <em>$65-$100+</em></li><br><br>

          <li><strong>Cut & Style 3:</strong> Extreme length/density/curl with styling - <em>$80-$123+</em></li><br><br>

          <li><strong>Complimentary Cleanup:</strong> Perfect for that in-between snips to keep you looking fresh - <em>$25</em></li>
        </ul>
      </div>
    </div>

    <!-- Card for Color Services -->
    <div class="card">
      <img src="../../assets/images/img11.jpg" alt="Color Services">
      <div class="card-body">
        <h2>Color Services</h2>
        <ul>
          <li><strong>Prices do not include finishing service</strong></li><br><br>

          <li><strong>Root Retouch:</strong> Helping clean up that pesky regrowth - <em>$105</em></li><br><br>

          <li><strong>Deluxe Root Retouch:</strong> Taking care of regrowth while brightening with foils - <em>$120+</em></li><br><br>

          <li><strong>Toner/Gloss:</strong> Help your hair colour shine bright - <em>$55</em></li><br><br>

          <li><strong>Chemical Services:</strong> All colour services (except Root Retouch) are billed per hour - <em>$105-120/hour</em></li><br><br>

          <li><strong>Colour usage Cost:</strong> This is the cost of the amount of colour used at your appointment, weighed per gram</li><br><br>

          <li><strong>Covid fee:</strong> Added to every service - <em>$2</em></li>
        </ul>
      </div>
    </div>

    <!-- Card for Additional Services -->
    <div class="card">
      <img src="../../assets/images/img12.jpg" alt="Additional Services">
      <div class="card-body">
        <h2>Additional Services</h2>
        <ul>
          <li><strong>Olaplex Treatment:</strong> Hair treatment helping keep coloured hair healthy from the inside out - <em>$45</em></li>
          <li><strong>Conditioning Treatment:</strong> Deep rich conditioner for happy + healthy hair - <em>$30</em></li>
          <li><strong>Finish:</strong> Blowout after colour services; haircut not required - <em>$30</em></li>
          <li><strong>Design Set:</strong> Shampoo, blow dry, curl + wave - <em>$70-$85</em></li>
          <li><strong>Updo:</strong> Prepped, pinned + proper - <em>$125</em></li>
          <li><strong>Wedding Trial:</strong> Running through your style for your special day - <em>$105</em></li>
          <li><strong>Wedding Updo:</strong> Helping with your unforgettable style for an unforgettable day - <em>$145</em></li>
          <li><strong>Blowout:</strong> Shampoo and blow dry - <em>$60</em></li>
        </ul>
      </div>
    </div>

    <!-- Card for Wedding Inquiries -->
    <div class="card">
      <img src="../../assets/images/img6.jpg" alt="Wedding Inquiries">
      <div class="card-body">
        <h2>Wedding Inquiries</h2>
        <p>If you are looking to celebrate your special day with us, please note we only have three to four stylists scheduled for Saturdays, which can make it challenging to cater to big parties.<br><br><br><br>
           To better accommodate weddings, we can start earlier than 10 am if needed.<br><br><br><br> If your stylist does not normally work Saturdays, feel free to ask them if they will come in for your big day.<br><br> For any other questions about wedding bookings, contact Andrea at <a href="mailto:organicbeautyparlour@gmail.com">organicbeautyparlourgmail.com</a>.</p>
      </div>
    </div>
  </div>

  <button class="contact-button">Get in Touch</button>
</div>
